:root.theme-dark {
  --card-main-text-weight: "wght" 465;
  --card-title-text-weight: "wght" 785;
  --background-color: #000000;
  --accent-color: #00cc14;
  --background-gradient: repeating-linear-gradient(
      90deg,
      #000 0px,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      #000 0px,
      #000 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(180deg, #007f0c, #004306);
}
:root.theme-light {
  --card-main-text-weight: "wght" 400;
  --card-title-text-weight: "wght" 700;
  --background-color: #ffffff;
  --accent-color: #000000;
  --background-gradient: repeating-linear-gradient(
      90deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      180deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(180deg, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-main-text-weight: "wght" 465;
    --card-title-text-weight: "wght" 785;
    --background-color: #000000;
    --accent-color: #00cc14;
    --background-gradient: repeating-linear-gradient(
        90deg,
        #000 0px,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      repeating-linear-gradient(
        180deg,
        #000 0px,
        #000 2px,
        transparent 2px,
        transparent 4px
      ),
      linear-gradient(180deg, #007f0c, #004306);
  }
}
